In [3]:
#function to convert kms into miles
def kms_to_miles(a):
    """This function will convert kms into miles"""
    mile = 0.621371
    return mile*a

In [4]:
kms_to_miles(9)

5.592339

In [10]:
#function to convert celicus to fahrenheit
def celsius_to_fahrenheit(c):
    """This function will convert celicus to fahrenheit"""
    f = (9*c)/5+32
    return f

In [12]:
celsius_to_fahrenheit(32)

89.6

In [13]:
#function will display year calendar
import calendar
def calendar_year(a):
    """This function will display year calendar"""
    print(calendar.calendar(a))

In [14]:
calendar_year(2022)

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [17]:
#function will solve quadractic equations
import cmath
def quadratic_equations(a,b,c):
    """This function will solve quadractic equations"""
    d = (b**2)-(4*a*c)
    #sol 1
    sol1 = (-b+cmath.sqrt(d))/(2*a)
    sol2 = (-b-cmath.sqrt(d))/(2*a)
    return sol1, sol2

In [16]:
quadratic_equations(1,2,4)

((-1+1.7320508075688772j), (-1-1.7320508075688772j))

In [34]:
#function will swap variables without temp
def swap_without_temp(a,b):
    a = a+b
    b = a-b
    a = a-b
    return a, b

In [36]:
swap_without_temp(3,5)

(5, 3)