Question 1 :
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [14]:
def is_symmetrical(num):
    """This function takes a number as an argument and returns True or False depending on whether the number is
    symmetrical or not"""
    try:
        if type(num)==int: #checks num is integer or not
            l=[]
            s = str(num) #converts num into string format
            for i in s:
                l.append(int(i)) #stores into list of integers
            
            l1 = l[::-1] #reverses the list of elements
            l2 = []
            
            for j in l1:
                l2.append(str(j)) #stores in other list in str format
                
            s1 = ""
            for k in l2:
                s1 = s1+k #concating reversed list
            
            if num == int(s1): #checking num and reversed num
                return True
            else:
                return False
                
        else:
            raise Exception('Pass integer argument')
    except Exception as ee:
        print(ee)

In [16]:
is_symmetrical(7227)

True

In [17]:
is_symmetrical(12567)

False

In [18]:
is_symmetrical(44444444)

True

In [19]:
is_symmetrical(9939)

False

In [32]:
is_symmetrical(1112111)

True

Question 2 :
Given a string of numbers separated by a comma and space, return the product of the numbers.

In [155]:
def multiply_nums(num):
    """This function takes a string of numbers separated by a comma and space, returns the product of the numbers"""
    try:
        if type(num)==str:
            
            l = num.split(',')
            
            l1 = []
            for i in l:
                l1.append(int(i))
            
            result = 1
            
            for i in l1:
                result = result * i
                
            return result
                
        else:
            raise Exception('Pass a string of numbers separted by a comma and space')
    except Exception as ee:
        print(ee)

In [156]:
multiply_nums("2, 3")

6

In [157]:
multiply_nums("1, 2, 3, 4")

24

In [160]:
multiply_nums("54, 75, 453, 0")

0

In [161]:
multiply_nums("10, -2")

-20

Question 3 :
Create a function that squares every digit of a number.

In [64]:
def square_digits(num):
    """This function return the squares of every digit of a number"""
    try:
        if type(num)==int:
            
            l = []
            
            for i in str(num): #stores each element of num in a list
                l.append(i)
                
            result = ""
            
            for i in l:
                n = int(i)**2
                result = result + str(n) #converting elements in list to int and squaring and adding to result
                
            return int(result)
            
        else:
            raise Exception('Pass integer argument')
    except Exception as ee:
        print(ee)

In [65]:
square_digits(9119)

811181

In [67]:
square_digits(2483)

416649

In [68]:
square_digits(3212)

9414

Question 4 :
Create a function that sorts a list and removes all duplicate items from it.

In [72]:
def setify(l):
    """This function will take one argument in list of integers, sorts and removes all duplicate items and returns in 
    a list"""
    try:
        if type(l)==list: #checking type of l
            
            for i in l:
                if type(i)!=int:
                    raise Exception('Pass integers in list') #checking whether list contains any other formats except int
            
            l1 = set(l) #sorting and removing duplicates using set
            
            return list(l1)
            
        else:
            raise Exception('Pass arguments in single list')
    except Exception as ee:
        print(ee)

In [76]:
setify([1, 3, 3, 5])

[1, 3, 5]

In [77]:
setify([4, 4, 4, 4])

[4]

In [78]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [79]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5 :
Create a function that returns the mean of all digits.

In [90]:
def mean(num):
    """This function takes single argument of integer and returns mean of all digits"""
    try:
        if type(num)==int: #checking type
            
            l=[]
            for i in str(num): #storing num in digits to list
                l.append(i)
                
            n = len(l) #number of digits
            
            m = 0
            for i in l:
                m = m+int(i) #addition of digits
            
            result = int(m/n) #mean
            
            return result
            
        else:
            raise Exception('Pass integer argument')
    except Exception as ee:
        print(ee)

In [91]:
mean(42)

3

In [92]:
mean(12345)

3

In [93]:
mean(666)

6